{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4 m-3">
    <div class="card-header">
      Регистрация пользователя
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="error-message">
            <ul style="color: red;">
            {% for error_list in form.errors.values %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Зарегистрироваться" %}
      </form>
    </div>
  </div>
{% endblock %}