{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="mb-4">Складовка</h2>

                <h3 class="mb-3">Наша история</h3>
                <p>
                    Компания "СкладУют" была основана в 2010 году с простой целью: предоставить безопасные,
                    доступные и удобные решения для хранения вещей для частных и юридических лиц.  Начинали мы с
                    небольшого склада в центре города, но благодаря доверию наших клиентов мы постоянно расширялись и
                    совершенствовали наши услуги. Сегодня мы предлагаем широкий выбор кладовых и ячеек, отвечающих любым
                    потребностям и бюджету.  Мы гордимся тем, что помогаем людям и бизнесам освободить пространство и
                    упростить жизнь!
                </p>

                <h3 class="mb-3">Что можно хранить у нас?</h3>
                <p>
                    Наши кладовые идеально подходят для хранения самых разных вещей:  <br>
                    <ul>
                    <strong>Для частных лиц:</strong>
                    <li>Мебель и бытовая техника во время переезда или ремонта</li>
                    <li>Сезонные вещи (лыжи, сноуборды, садовый инвентарь)</li>
                    <li>Личные вещи, которые занимают место в квартире</li>
                    <li>Архив документов</li>
                    </ul>

                    <ul>
                    <strong>Для юридических лиц:</strong>
                    <li>Товарные запасы</li>
                    <li>Офисную мебель и оборудование</li>
                    <li>Архивные документы</li>
                    <li>Рекламные материалы</li>
                    </ul>

                    <strong>Важно:</strong>  Мы не принимаем на хранение легковоспламеняющиеся, взрывоопасные, ядовитые и
                    радиоактивные вещества, а также продукты питания, животных и растения.
                </p>           

            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Наш адрес</h5>
                        <p class="card-text">
                            г. Москва, ул. Ленина, д. 10, офис 205
                        </p>
                        <h5 class="card-title">Контактная информация</h5>
                        <p class="card-text">
                            Телефон: +7 (495) 123-45-67 <br>
                            Email: info@skladuyut.ru
                        </p>
                        {% comment %} <a href="#" class="btn btn-primary">Связаться с нами</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}