{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <div 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}            
        <ul class="nav nav-pills">
          <li class="nav-item">              
            <a
              class="nav-link {% if view_name == 'data:cell_list' %} active {% endif %}" 
              href="{% url 'data:cell_list' %}"
              >
              Главная 
            </a> 
          </li>
          <li class="nav-item">
            <a 
              class="nav-link {% if view_name == 'data:cell_list' %} active {% endif %}" 
              href="{% url 'data:cell_list' %}"
              >
              Каталог ячеек
            </a> 
          </li>

          {% if user.is_authenticated %}
          <!-- Это блок ссылок для администраторов -->
            {% if user.is_superuser %}
              <li class="nav-item">
              <a class="nav-link {% if view_name == 'data:profile_list' %} active {% endif %}" 
                href="{% url 'data:profile_list' %}"> Список пользователей </a> 
              </li>
            {% endif %}
          <!-- Конец блока ссылок для администраторов -->

          <!-- Это блок ссылок для авторизованного пользователя -->
            <span class="navbar-text">Пользователь: <b>{{ user.username }}</b></span>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'data:profile_edit' %} active {% endif %}"
                href="{% url 'data:profile_edit' user.pk %}">Редактировать профиль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'password_change' %} active {% endif %}"
                href="{% url 'password_change' %}">Изменить пароль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
          <!-- Конец блока ссылок для авторизованного пользователя -->

          <!-- А здесь блок ссылок для неавторизованного пользователя -->
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>        
          {% endif %}
          <!-- Конец блока ссылок для неавторизованного пользователя -->
        </ul>
        {% endwith %}
      </div> 
      <a class="navbar-brand" href="{% url 'data:cell_list' %}">
        <img src="{% static 'img/logo.png' %}" height="50" class="d-inline-block align-top" alt="">            
      </a>         
    </div>
  </nav>
</header>