{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  {% if object.pk %}
    {% if 'edit' in request.path %}
      Редактирование ячейки {{ object.number }}
    {% else  %}
      Удаление ячейки {{ object.number }}
    {% endif %}
  {% else %}
    Создание ячейки
  {% endif %}
{% endblock %}

{% block content %}
<div>
    <div class="card col-4">
      <div class="card-header">
        {% if object.pk %}
          {% if 'edit' in request.path %}
            Редактирование ячейки
          {% else %}
            Подтверждение удаления
          {% endif %}
        {% else %}
          Создание ячейки
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if not 'delete' in request.path %}
            <div class="error-message">
              <ul style="color: red;">
                {% for error_list in form.errors.values %}
                  {% for error in error_list %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
            {% bootstrap_form form %}
          {% else %}
            <p><strong>Номер:</strong> {{ object.number }} </p>
            <p><strong>Размер:</strong> {{ object.get_size_display }}</p>
            <p><strong>Статус:</strong> {% if object.is_active %}Активна{% else %}Неактивна{% endif %}</p>
            <p><strong>Автор:</strong> {{ object.author.get_full_name|default:object.author.username }}</p>
            <p><strong>Создана:</strong> {{ object.created_at|date:"d.m.Y H:i" }}</p>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Готово" %}
          <a href="{% url 'data:cell_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
      </div>
    </div>
  
  <hr>
  <div>
    <a href="{% url 'data:cell_list' %}">Список всех ячеек</a>
    {% if object and object.pk and not 'delete' in request.path %}
      <a href="{% url 'data:cell_delete' object.pk %}" class="btn btn-outline-danger ms-2">Удалить ячейку</a>
    {% endif %}
  </div>
</div>
{% endblock %}